@import "../../_variables";





// BODY
//============================================
$body-bg                    : #ecf0f5;
$body-color					: #758697;
$boxed-bg                   : #797f95;
$text-muted                 : lighten($body-color, 20%);




// GENERAL COMPONENTS
//============================================
$state-active-bg            : #ad5468;
$state-active-color         : #fff;

$selection-bg			    : $state-active-bg;
$selection-color			: $state-active-color;




// CLEAN ZONE (LOGIN, REGISTER, AND ERROR PAGES CONTAINER)
//============================================
$cls-bg                     : $body-bg;
$cls-color                  : darken($body-color, 7%);




// NAVIGATION
//============================================
$mainnav-bg                 : #332e33;
$mainnav-color              : lighten($mainnav-bg, 50%);
$mainnav-hover-color        : #fff;
$mainnav-active-bg          : transparent;
$mainnav-active-color       : #fff;
$mainnav-active-state       : $state-active-bg;




// NAVBAR & LOGO
//============================================
$navbar-bg                  : $state-active-bg;
$navbar-color               : #fff;
$brand-bg                   : transparent;
$brand-bg-overlay           : $mainnav-bg;
$brand-color                : $navbar-color;
$brand-color-overlay        : $brand-color;




// ASIDE
//============================================
$aside-dark-bg              : lighten($mainnav-bg, 6%);
$aside-dark-color           : #fff;
$aside-bright-bg            : #fff;
$aside-bright-color         : $body-color;




// TIMELINE
//============================================
$timeline-bg                : $body-bg;
$timeline-color             : $body-color;
$timeline-border-color		: lighten($body-color, 25%);




// FOOTER
//============================================
$footer-bg                  : lighten($body-bg, 2%);
$footer-color               : $body-color;




//============================================
@if variable-exists(main-compile) == false {
    @import "../_themes";
}
