
<div id="page-content">
  <div class="panel no-border">
    <div class="panel-heading">
      <div class="panel-control pull-left"> 
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#new-admin" data-toggle="tab" aria-expanded="true">
              Produtos
            </a>
          </li>
          <li class="">
            <a href="#new-op" data-toggle="tab" aria-expanded="false">
              Categorias
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-body ">
      <div class="tab-content">
        <!-- PRODUTOS -->
        <div class="tab-pane fade active in" id="new-admin">
          <div class="pull-left  pull-left-xs  no-padding-xs margin-top-5-xs">
            <app-dropdown-store [hasAll]=t rue></app-dropdown-store>
          </div>

          <input type="file" #fileInput id="bulkprod" (change)="importXlsx($event, preCargaProdutos)" class="none">
          <input type="file" #img (change)="uploadImg($event)" class="none">
          <input type="file" #modalImg (change)="uploadDisplayImage($event)" class="none">
          <button class="btn btn-default pull-right  " (click)="fileInput.click()" *ngIf='this.comumService.accountTypeId == 1'>Carregar Produtos</button>
          <button class="btn btn-primary pull-right  margin-top-5-xs" (click)="openModal(produto, event, true)">Incluir Produtos</button>

          <app-datatable [columns]="columnsProd" [keepPaging]="isKeepPaging" [data]="dataProd" (emmitClick)="isImg(produto, $event, img)"></app-datatable>
        </div>
        <!-- CATEGORIAS -->
        <div class="tab-pane fade" id="new-op">
          <div class="pull-left  pull-left-xs  no-padding-xs">
            <app-dropdown-store [hasAll]=true></app-dropdown-store>
          </div>
          <button class="btn btn-primary pull-right mar-lft" (click)="openModal(categoria)">Incluir Categoria</button>

          <app-datatable [columns]="columnsCat" [data]="dataCat" (emmitClick)="openModal(categoria,$event)"></app-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PRECARGA DE PRODUTOS -->
<ng-template #preCargaProdutos let-c="close" let-d="dismiss" class="modal fade" id="product-default-modal" role="dialog"
  tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" (click)="c('Close click')">
      <i class="pci-cross pci-circle"></i>
    </button>
    <h4 class="modal-title">Pré-carga de Produtos</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <table class="table table-striped table-bordered dataTable">
          <thead>
            <tr>
              <th>
                Nº
              </th>
              <th>
                Nome
              </th>
              <th>
                Categoria
              </th>
              <th>
                Preço R$
              </th>
              <th>
                Quantidade
              </th>
              <th>
                Foto
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of modalProducts;let i = index">
              <td>
                {{i+1}}
              </td>
              <td>
                {{p.name}}
              </td>
              <td>
                {{p.category_name}}
              </td>
              <td>
                R$ {{this.comumService.fMoeda(p.value.toFixed(2))}}
              </td>
              <td>
                {{p.current_amount}}
              </td>
              <td>
                <div class="col-sm-12 profile-picture text-center">
                  <img [src]="p.display_image" (click)="uploadSingleImg(p,modalImg)">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-default" type="button" (click)="c('Close click')">Fechar</button>
    <button class="btn btn-primary" (click)="doBulkLoad(cargaProduto)">Salvar</button>
  </div>
</ng-template>
<!-- POS CARGA DE PRODUTOS EM CASO DE ERRO -->
<ng-template #posCargaProdutos let-c="close" let-d="dismiss" class="modal fade" id="product-default-modal" role="dialog"
  tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" (click)="c('Close click')">
      <i class="pci-cross pci-circle"></i>
    </button>
    <h4 class="modal-title">Produtos com erro ao carregar</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <table class="table table-striped table-bordered dataTable">
          <thead>
            <tr>
              <th>

              </th>
              <th>
                Nome
              </th>
              <th>
                Categoria
              </th>
              <th>
                Erro
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of errorInfo">
              <td>
                {{p.position}}
              </td>
              <td>
                {{p.name}}
              </td>
              <td>
                {{p.category_name}}
              </td>
              <td>
                {{p.error}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-primary" type="button" (click)="c('Close click')">Fechar</button>
  </div>
</ng-template>
<!-- CARGA DE PRODUTOS -->
<ng-template #cargaProduto let-c="close" let-d="dismiss" class="modal fade" id="load-product-default-modal" role="dialog"
  tabindex="-1">
  <div class="modal-body carga-produto-modal">
    <h2>Carregando produtos&hellip;</h2>
    <div>
      <img src="../../../img/spinner.svg">
    </div>
    <div class="row text-center">
      <div>
        <h1>{{ bulkCount }}</h1>
        <h4> de </h4>
        <h1>{{ bulkList.length }}</h1>
      </div>
    </div>
    <p>
      <span *ngIf="countError > 0" class="text-danger">ERRO: {{ countError }} </span>
    </p>
  </div>
</ng-template>


<!-- PRODUTOS -->
<ng-template #produto let-c="close" let-d="dismiss" class="modal fade" id="product-default-modal" role="dialog" tabindex="-1">
  <div class="modal-header">
    <button data-dismiss="modal" class="btn btn-default pull-left" type="button" (click)="c('Close click')">Fechar</button>
    <!-- switch  
    <input type="checkbox" class="switch" id="switch" [(ngModel)]="EditData.active">
    <label class="switch-label" for="switch"></label>
    <p class="switch-text">
      <span *ngIf="EditData.active">Ativo</span>
      <span *ngIf="!EditData.active">Inativo</span>
    </p>
    
    <!-- switch -->
    <h4 class="modal-title">Cadastro de Produtos</h4>
    <button class="btn btn-primary pull-right" (click)="saveData(true)">Salvar</button>
    <button class="btn btn-danger pull-right margin-right-10" type="button" (click)="deleteData(true)" *ngIf='EditData.id'>Excluir</button>
    

  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      
      <h4>{{this.comumService.activeResource.title.detail}}</h4>
      <div class="col-sm-3 profile-picture no-padding">
        <div>
            <div>
          <img [src]="EditData.display_image">
          <input type="file" id="file" accept=".png, .jpg, .jpeg" (change)="uploadProductOrCategoryImage($event)">
        </div>
      </div>
      </div>
      <div class="form-group col-sm-9 no-padding">
        <div class="form-row">
          <div class="form-field col-sm-12">
            <label class=" control-label text-left" for="product-name">{{this.comumService.activeResource.label.name}}</label>
            <div>
              <input type="text" placeholder="Digite o nome" maxlength="50" name="name" class="form-control input-sm" id="product-name"
                [(ngModel)]="EditData.name">
            </div>
          </div>
        </div>
        <div class="form-row ">
          <div class="form-field col-sm-12">
            <label class=" control-label text-left" for="product-category">{{this.comumService.activeResource.label.category}}</label>
            <div>
               <app-filter [data]="categoryList" [value]="currentIdCategory" (valueChanged)="setCategory($event)"></app-filter>
              <!--<select2 [data]="categoryList" [value]="currentIdCategory" name="type" (valueChanged)="setCategory($event)"></select2>-->
            </div>
          </div>
        </div>

        <div class="form-row ">
          <div class="form-field col-sm-12">
            <label class=" control-label text-left" for="product-description">Descrição</label>
            <div>
              <textarea placeholder="Digite aqui a descrição" maxlength="255" rows="4" class="form-control" name="description" id="product-descriotion"
                [(ngModel)]="EditData.description"></textarea>
            </div>
          </div>
        </div>
      </div>
      <h4>{{this.comumService.activeResource.title.priceInventory}}</h4>
      <div class="form-group">
        <div class="form-row">
          <div class="form-field col-sm-6">
            <label class=" control-label text-left" for="product-value">Preço</label>
            <div class="">
              <input type="text" placeholder="0,00" name="cost_value" class="form-control input-sm" id="product-value" [(ngModel)]="EditData.value"
                (keyup)="{mask: this.comumService.fmask(this.comumService.fMoeda, $event.target)}">
            </div>
          </div>
          <div class="form-field col-sm-6">
            <label class=" control-label text-left" for="product-cost">Preço de Custo</label>
            <div class="">
              <input type="text" placeholder="0,00" name="value" maxlength="10" class="form-control input-sm" id="product-cost" [(ngModel)]="EditData.cost_value"
                (keyup)="{mask: this.comumService.fmask(this.comumService.fMoeda, $event.target)}">
            </div>
          </div>
        </div>
        <div class="form-row ">
          <div class="form-field col-sm-6">
            <label class=" control-label text-left" for="product-storage">Estoque Min.</label>
            <div class="">
              <input type="number" maxlength="4" placeholder="0,00" name="estoqueMin_value" class="form-control input-sm" id="product-storage"
                [(ngModel)]="EditData.minimum_amount">
            </div>
          </div>
          <div class="form-field col-sm-6">
            <label class=" control-label text-left" for="product-quantity">Qtd.</label>
            <div class="">
              <input type="number" maxlength="4" placeholder="0" name="qtd_value" class="form-control input-sm" id="product-quantity" [(ngModel)]="EditData.current_amount">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<!-- CATEGORIAS -->
<ng-template #categoria let-c="close" let-d="dismiss" class="modal fade" id="demo-default-modal" role="dialog" tabindex="-1">
  <div class="modal-header">
    <div class="pull-left">
      <button type="button" class="close" (click)="c('Close click')">
        <i class="pci-cross pci-circle"></i>
      </button>
    </div>
    <h4 class="modal-title">Cadastro de Categoria</h4>
    <div class="pull-right">
      <button class="btn btn-danger pull-left" type="button" (click)="deleteData(false)" *ngIf='(this.comumService.accountTypeId == 1 || this.comumService.accountTypeId == 10 || this.comumService.accountTypeId == 2) && EditDataCategory.id'>Excluir</button>
      <button class="btn btn-primary" (click)="saveData(false)">Salvar</button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="panel-body">
        <!--
                <div class="col-sm-4 profile-picture">
                    <img [src]="EditDataCategory.image">
                    <input type="file" (change)="uploadProductOrCategoryImage($event)">
                </div>
                -->
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="control-label">Nome</label>
                <input type="text" placeholder="Digite o nome" maxlength="30" name="name" class="form-control input-sm" id="admin-name" [(ngModel)]="EditDataCategory.name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="control-label">Local de Retirada</label>
                <textarea placeholder="Local de Retirada (Somente o nome . Ex.: Bar, Balcão, Garçom" maxlength="255" rows="4" class="form-control"
                  name="description" [(ngModel)]="EditDataCategory.description"></textarea>
              </div>
            </div>
          </div>

        </div>
      </div>

    </form>
  </div>

</ng-template>
