<div id="page-content">
    <div class="panel no-border">
        <div class="row">
            <div class="panel-body col-lg-3 col-sm-3 col-xs-3">
                <h5 class="padding-left-16 margin-top-5">CONTA</h5>
                <ul class="menu-select">
                    <li *ngFor="let label of menuLabels;let i=index" (click)="setIndex(i)" class="btn col-lg-12 col-sm-12 text-left" [class.menu-li-active]="sIndex === i">
                        {{label}}
                    </li>
                </ul>
            </div>
            <app-personal-information *ngIf="sIndex == 0" [profileData]="profileData"></app-personal-information>
        </div>
    </div>
</div>