//################### LOGIN #######################
app-login {
  .bg-img {
    background-image: url('img/textura.png');
    background-color: #305584;
    background-size: initial;
    background-repeat: repeat;
  }
  .login-title {
    margin: 40px 0 10px;
  }
  a {
    cursor: pointer;
  }
  .version {
    position: absolute;
    display: inline;
    bottom: 0;
    left: 10px;
    color: #000;
    span {
      color: #fff;
    }
  }
}

.img-logo {
  width: 30px;
  height: 30px;
}

.brand-text {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px;
}

#mainnav-menu .active-link a {
  padding-left: 19px;
}

.list-divider {
  margin: 15px 0 !important;
}

.lang-flag {
  width: 24px;
  height: 16px;
}

/*################# LOADER ###########################*/

#loader,
#loader-mini {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  background: url(./img/spinner.svg) 50% center no-repeat rgba(34, 51, 68, 1);
  background-size: 40px;
  transition: all 0.3s ease-in 0s;
}

#loader-mini {
  opacity: 0.4;
}

.loaderBtn {
  background: url(./img/spinner.svg) 50% center no-repeat;
  height: 22px;
  display: block;
  color: transparent;
}

.profile-loader {
  width: 100%;
  background: url(./img/spinner.svg) 50% center no-repeat;
  height: 50px;
  margin: 50px 0;
}

/*################# HEADER ###########################*/

#navbar {
  display: none;
}

.brand-img {
  height: 35px;
  margin-right: 20px !important;
  margin-bottom: 5px;
}

.dropdown-menu-md {
  min-width: 300px;
}

header {
  .navbar-top-links {
    i:before {
      font-size: 1em;
      line-height: 40px;
    }
    li {
      .slide-show {
        width: 0;
        overflow: hidden;
        transition: all 0.2s ease;
        float: right;
        white-space: nowrap;
        line-height: 40px;
      }
      &:hover {
        .slide-show {
          width: auto;
          margin: 0 10px;
        }
      }
    }
  }
  .navbar-header {
    width: 220px;
  }
  #dropdown-header {
    .dropdown-menu {
      background-color: #0d2029;
      a {
        color: #FFF;
        cursor: pointer;
        &:hover {
          background: rgba(255, 255, 255, 0.05);
        }
      }
    }
    .dropdown-toggle {
      background-color: #f1f1f1;
      &::before {
        font-family: "FontAwesome";
        content: "\f078";
        position: absolute;
        right: 10px;
        top: 10px;
        color: #fff;
      }
    }
    &.store {
      .dropdown-menu {
        background-color: #FFF;
        a {
          color: #758697;
          &:hover {
            background: rgba(0, 0, 0, 0.05);
          }
        }
      }
      .dropdown-toggle {
        background-color: #f1f1f1;
        &::before {
          right: 30px;
          color: #758697;
        }
      }
    }
    &.open {
      .dropdown-toggle {
        background-color: #e2e2e2;
        &::before {
          content: "\f077";
        }
      }
    }
  }
}

//######################## MENU ################ 
.adjustment-sm {
  left: 0 !important;
}

#mainnav-container .mainnav-toggle {
  display: none;
}

@media (max-width: 800px) {
  #content-container {
    padding-left: 70px;
  }
  #mainnav-container:not(.adjustment-sm) {
    left: -150px;
    .mainnav-toggle {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      padding: 20px;
      font-size: 25px;
      z-index: 10;
    }
    .nano-content>div {
      display: none;
    }
    .footer-icon {
      .brand-icon {
        position: fixed;
        bottom: 20px;
        left: 15px;
        width: 30px !important;
        height: auto;
      }
      .inline-flex {
        display: none;
      }
    }
  }
}

//####################### content ###############
#content-container {
  padding-top: 20px;
  background-color: #FFF;
}

/*################# DATATABLE ###########################*/

.pagination {
  float: right;
  margin-top: 2px;
}

table {
  th {
    background-color: #ebedef;
    padding: 15px !important;
    font-weight: bold !important;
  }
  td {
    padding: 10px 15px !important;
  }
  tbody tr {
    cursor: pointer;
    h3 {
      margin: 0;
    }
  }
  tbody tr td img {
    height: 30px;
    width: 38px;
  }
  tbody input {
    width: 100% !important;
  }
}

.dataTable-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  &.big {
    max-height: 390px;
  }
}

.dataTables_info {
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid gainsboro;
  line-height: 30px;
  padding: 0 20px;
  display: inline-block;
}

/*################# TABLES ###########################*/

.table.primary {
  thead {
    th {
      background-color: #42a5f5;
      color: #fff;
    }
  }
}

table {
  .table-false {
    background-color: #c71612;
  }
  .table-true {
    background-color: #3c763d;
  }
  .table-false,
  .table-true {
    height: 46px;
    width: 15px;
    margin-left: -8px;
    position: absolute;
    margin-top: -7px;
  }
  .status {
    color: #3c763d;
    font-weight: bold;
    text-transform: uppercase;
  }
  .estorno .status {
    color: #e3bc08;
  }
}

/*################# MODAL ###########################*/

.modal {
  //.fullscreen
  .modal-dialog {
    width: 100%;
    height: 100%;
    .modal-header {
      padding: 35px;
      position: relative;
      border: 0;
      height: 100px;
    }
    .modal-content {
      height: 100%;
    }
    .modal-body {
      width: 900px;
      margin: 0 auto;
    }
  }
}

.modal.large .modal-dialog {
  width: 1200px !important;
}

.modal-dialog {
  margin: 0px !important;
  /* fix para animação da modal quando tem select2 */
}

.modal-dialog #container {
  min-height: auto !important;
}

.fade.show {
  opacity: 1 !important;
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0) !important;
  transform: translate(0) !important;
  opacity: 1 !important;
}

.modal-backdrop.show {
  opacity: .5 !important;
}

.scrollable .modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
}

/*################# SELECT2 ###########################*/

select2 .select2 {
  padding: 0 !important;
  width: 100% !important;
}

.select2-container--disabled span {
  cursor: not-allowed;
}

.select2-dropdown {
  min-width: 200px !important;
  border: none !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1), 0 1px 16px 0 rgba(0, 0, 0, .1), 0 2px 4px 0 rgba(0, 0, 0, .1);
  .select2-search {
    padding: 0;
  }
  .select2-results__option {
    border-bottom: 1px solid #d6d9dc;
    padding: 10px 10px 10px 35px
  }
  .select2-results__option:before {
    font: normal normal normal 14px/1 FontAwesome !important;
    content: "\f10c" !important;
    position: absolute;
    font-size: 16px !important;
    left: 10px;
  }
  .select2-results__option[aria-selected=true]::before {
    content: "\f05d" !important;
  }
  .select2-search__field {
    padding: 10px 10px 10px 35px !important
  }
  .select2-search:before {
    font-family: 'nifty-demo-icons' !important;
    content: "\E943" !important;
    position: absolute;
    line-height: 40px;
    padding: 0 10px;
  }
}

/*################# storedropdown ###########################*/

app-dropdown-store {
  label,
  >div {
    padding: 0 !important;
  }
  label {
    text-align: right;
    padding-right: 10px !important;
    line-height: 28px;
  }
}

.vertical app-dropdown-store {
  label,
  >div {
    text-align: left;
    line-height: initial;
    width: 100%;
  }
}

/*################# profile ###########################*/

.profile-picture {
  img {
    width: 250px;
    height: 250px;
    background: url(./img/spinner.svg) 50% center no-repeat #eee;
    background-size: 20%;
    &.framed {
      padding: 10px;
      background-color: #eee;
      border: 3px solid #ccc;
    } // &.expand {
    //     padding: 2px !important;
    //     zoom: 3;
    //     margin-left: -100% !important;
    //     margin-top: -48% !important;
    // }
  }
  input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    opacity: 0;
    cursor: pointer;
  }
  &.sm {
    img,
    input[type=file] {
      margin-top: 50px;
      width: 100px;
      height: 100px;
    }
    input[type=file] {
      left: calc(50% - 50px);
    }
  }
}

/*################# Pannel ###########################*/

.panel-control {
  padding: 0;
}

.big-panel {
  .panel-body {
    height: 400px;
  }
}

.panel-heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  &:after {
    content: none !important;
  }
}

.panel-body {
  padding: 15px 0 25px !important
}

.panel-md {
  .panel-body {
    height: 220px;
    overflow-x: auto;
    ul {
      margin: 0;
    }
  }
}

.small-panel {
  .panel-body {
    height: 140px;
  }
  .panel-heading:after {
    border-bottom: 0 !important;
  }
}

.panel>.panel-heading:after,
.panel.panel-colorful>.panel-heading:after {
  bottom: 0;
}

.nav-tabs>li {
  margin-right: 30px !important;
  &:hover {
    opacity: 1 !important;
  }
  a {
    font-weight: bold;
    font-size: 14px;
    padding: 0px !important;
    line-height: initial !important;
    border: none !important;
    &:hover {
      background: transparent !important;
      color: #2e6da4 !important;
    }
  }
  &.active a,
  &.active a:hover,
  &.active a:active {
    border: none !important;
    color: #2e6da4 !important;
    border-bottom: 5px solid #2e6da4 !important;
  }
}

/*################# CHECKBOX ###########################*/

.checkbox,
.radio {
  display: inline-flex !important;
  margin: auto;
}

.marginRightChek {
  margin-right: 15px;
}

/*################# PADRÃO ###########################*/

.tab-pane {
  .btn,
  >div {
    margin-right: 12px;
    :last-child {
      margin-right: 0;
    }
  }
}

//input
input.form-control,
.rounded-input,
.select2-selection {
  border: 1px solid #adb1b5 !important;
  min-height: 40px !important;
  border-radius: 4px !important;
  span {
    height: 100% !important;
    padding-left: 15px !important;
    line-height: 40px !important;
    &.select2-selection__rendered {
      padding-right: 40px !important;
    }
  }
}

input.form-control:focus {
  border: 1px solid #2996cc !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 40px !important;
}

.select2-selection__arrow:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f078";
  font-size: 10px;
}

.select2-selection__arrow b {
  display: none;
}

.btn {
  display: inline-block;
  height: 40px;
  min-width: 80px;
  padding: 0 16px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 38px;
  font-weight: 500;
  text-align: center;
  transition: background-color .2s ease-in-out, color .2s ease-in-out, opacity .2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

//#################### FORM ###############
.form-horizontal {
  >.row{
    border:1px solid #e5e5e5;
  }
  .form-group {
    margin:0;
    border-bottom:1px solid #e5e5e5;
    label {
      padding: 10px 20px;
      height: 40px;
      background-color: #eaecee;
      color:#000;
      font-weight: bold;
      margin:0;
    }
    div {
      padding: 0;
      input {
        width: 100%;
        height: 100%;
        border: 0 !important;
      }
    }
  }
}

//############# isdev ############### 
#isDev {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  z-index: 15;
  height: 0;
  border-top: 100px solid #177bbb;
  border-right: 100px solid transparent;
  span {
    position: fixed;
    top: 30px;
    left: -8px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
  }
}

//############# footer ###############
#footer {
  color: #000;
  span {
    color: #758697;
  }
}

.footer-icon {
  .brand-icon {
    width: auto !important;
    height: 30px;
  }
  padding: 20px;
  bottom: 0;
  left: 0;
  margin:0;
  transition: all 0.5s ease;
  &.fixed {
    position: fixed;
    transition: bottom 1s linear;
    .brand-icon {
      transition: all 0.5s ease;
      height: 40px;
    }
  }
}

.mainnav-sm {
  .footer-icon {
    position: fixed;
    .brand-icon {
      height: 30px !important;
    }
    .inline-flex {
      display: none;
    }
  }
}

/*################# SWITCH ###########################*/

input[type=checkbox].switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  float: left;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.switch-label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input.switch:checked+label {
  background: #18dbae;
}

input.switch:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.switch-label:active:after {
  width: 30px;
}

.switch-text {
  float: left;
  line-height: 30px;
  margin-left: 5px;
  font-weight: bold;
}

input.switch:checked+label+.switch-text {
  color: #18dbae;
}

.no-content {
  margin-left: 50px;
  margin-top: 50px;
  h1 {
    font-size: 60px;
    float: left;
    width: 50%;
  }
  h3 {
    font-size: 20px;
    float: left;
    width: 50%;
  }
  i {
    font-size: 150px;
    float: left;
    margin-right: 50px;
  }
}

/*################# CARGA DE PRODUTOS -- LOADER ###########################*/

.carga-produto-modal {
  background: #263238;
  h1,
  h2,
  h4 {
    color: #FFF;
  }
  h1 {
    font-size: 100px;
    text-align: center;
    float: left;
  }
  h2 {
    text-align: center;
  }
  h4 {
    float: left;
    font-size: 20px;
    text-align: center;
    line-height: 140px;
    padding: 0 40px;
  }
  img {
    width: 50px;
    height: 50px;
    margin-top: 25px;
  }
  div {
    text-align: center;
    display: table;
    margin: 0 AUTO;
  }
}

.contract-mobile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 5px 10px;
  span {
    margin: 15px;
  }
  i {
    line-height: 25px;
  }
}

// #################   FIXES  #######################
.btn-small {
  padding: 4px 10px !important;
}

[class^="col-"] img {
  max-width: 100%;
}

span.form-control {
  padding: 4px 12px;
}

.pincode {
  label {
    line-height: 27px;
  }
  input {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
}

.disabled {
  cursor: not-allowed;
}

.minimal {
  width: 1% !important
}

.margin-10 {
  margin: 10px !important
}

.text-white {
  color: #FFF !important;
}

.hand {
  cursor: pointer !important;
}

.red {
  color: red;
}

.none {
  display: none !important;
}

.inline-flex {
  display: inline-flex;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-border {
  border: 0;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.w-100 {
  width: 100%;
}

.no-margin {
  margin: 0 !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.text-10 {
  font-size: 10px !important;
}

.z-index-10 {
  z-index: 10 !important;
}

.z-index-15 {
  z-index: 15 !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.line-height-40 {
  line-height: 40px;
}

//########### MEDIAS ###########
@media (min-width: 992px) {
  #container.mainnav-lg #footer,
  #container.mainnav-lg #content-container {
    padding-left: 240px;
  }
}

@media (max-width: 800px) {
  #navbar {
    display: block;
  }
  #container #aside-container {
    width: 100%;
    left: -100% !important;
  }
  #container #aside-container.toggle {
    left: 0 !important;
  }
  #intercom-container {
    display: none;
  }
  .footer-icon.fixed {
    position: relative !important;
    display: block;
  }
  .footer-icon {
    display: none;
  }
  .float-inherit-xs {
    float: initial;
  }
  .text-center-xs {
    text-align: center;
  }
  .margin-top-5-xs {
    margin-top: 5px;
  }
  .pull-left-xs {
    float: left !important;
  }
  .no-padding-xs {
    padding: 0 !important;
  }
  .searchbox {
    float: right;
    width: 80%;
  }
  .mainnav-sm .mainnav-profile {
    visibility: visible;
    max-height: initial;
    opacity: 1;
  }
  .navbar-top-links {
    li:hover .slide-show {
      width: 0 !important;
      margin: 0 !important;
    }
    .tgl-menu-btn {
      right: 40px;
      top: 0;
      a,
      a:hover {
        color: #758697 !important;
      }
    }
  }
  .ngb-dp-months {
    display: block !important;
  }
}
