<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <h1 class="page-header text-overflow">Resumo</h1>
</div>
<div id="page-content">

    <!--<div class="row">
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title ">Notificações</h3>
                </div>
                <div class="nano has-scrollbar" style="height:360px">
                    <div class="" tabindex="0" style="right: -17px;">
                        <div class="panel-body bord-btm">
                            <p class="text-bold text-main text-sm">#68464</p>
                            <p class="pad-btm">To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. </p>
                            <a href="#" class="task-footer">
                                <span class="box-inline">
					                                            <label class="label label-warning">Feature Request</label>
					                                            <label class="label label-danger">Bug</label>
					                                        </span>
                            </a>
                        </div>
                        <div class="panel-body bord-btm">
                            <p class="text-bold text-main text-sm">#45684</p>
                            <p class="pad-btm">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                            <a href="#" class="task-footer">
                                <span class="box-inline">
					                                            <span class="pad-rgt"><i class="demo-pli-speech-bubble-7"></i> 45</span>
                                <span class="pad-rgt"><i class="demo-pli-like"></i> 45</span>
                                </span>
                                <span class="text-sm"><i class="demo-pli-clock icon-fw text-main"></i>9:25</span>
                            </a>
                        </div>
                        <div class="panel-body bord-btm">
                            <p class="text-bold text-main text-sm">#84564</p>
                            <div class="task-img">
                                <img class="img-responsive" src="img/shared-img-2.jpg" alt="Image">
                            </div>
                            <p class="pad-btm">No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
                            <a href="#" class="task-footer">
                                <span class="box-inline">
					                                             <span class="pad-rgt"><i class="demo-pli-heart-2"></i> 54K</span>
                                </span>
                                <span class="text-sm"><i class="demo-pli-clock icon-fw text-main"></i>03:08</span>
                            </a>
                        </div>
                        <div class="panel-body bord-btm">
                            <p class="text-bold text-main text-sm">#23255</p>
                            <p class="pad-btm">The new common language will be more simple and regular than the existing European languages.</p>
                            <a href="#" class="task-footer">
                                <span class="box-inline">
					                                             <img class="img-xs img-circle" src="img/profile-photos/8.png" alt="task-user">
					                                             Brenda Fuller
					                                         </span>
                            </a>
                        </div>
                        <div class="panel-body bord-btm">
                            <p class="text-bold text-main text-sm">#34522</p>
                            <p class="pad-btm">To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?</p>
                            <a href="#" class="task-footer">
                                <span class="text-sm"><i class="demo-pli-clock icon-fw text-main"></i>9:25</span>
                            </a>
                        </div>
                        <div class="panel-body bord-btm">
                            <p class="text-bold text-main text-sm">#45684</p>
                            <p class="pad-btm">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                            <a href="#" class="task-footer">
                                <span class="box-inline">
					                                            <span class="pad-rgt"><i class="demo-pli-speech-bubble-7"></i> 45</span>
                                <span class="pad-rgt"><i class="demo-pli-like"></i> 45</span>
                                </span>
                                <span class="text-sm"><i class="demo-pli-clock icon-fw text-main"></i>9:25</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title ">Resumo de sua Conta</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-vcenter">
                        <thead>
                            <tr>
                                <th>Principal</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Store Code<br>
                                    <h1 class="no-margin">
                                        <small>580917637</small>
                                    </h1>
                                </td>
                                <td class="text-right">
                                    Cliente desde <br>
                                    <h1 class="no-margin"><small>01/12/2017</small></h1>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-hover table-vcenter">
                        <thead>
                            <tr>
                                <th>Saldo Total a Receber</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-semibold">
                                <td>
                                    CRÉDITO
                                </td>
                                <td>
                                    R$ 365,00
                                </td>
                            </tr>
                            <tr class="text-semibold">
                                <td>
                                    DÉBITO
                                </td>
                                <td>
                                    R$ 0,00
                                </td>
                            </tr>
                            <tr class="text-semibold">
                                <td>
                                    OUTROS
                                </td>
                                <td>
                                    R$ 4815,84
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
-->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title ">Agenda de Pagamentos da Semana</h3>
                </div>
                <div class="panel-body no-padding">
                    <div class="agenda titulo">
                        <div class="dia">
                            &nbsp;
                        </div>
                        <ul>
                            <li class="green-border two-lines">
                                Recebíveis de vendas:<br><small>Débitos + Créditos</small>
                            </li>
                            <li class="purple-border">Antecipações</li>
                            <li class="blue-border">Chargebacks</li>
                            <li class="pink-border">Cancelamentos</li>
                            <li class="orange-border">Outros</li>
                            <li>Saldo Restante</li>
                            <li> Status do Pagamento</li>
                        </ul>
                    </div>
                    <div class="agenda " [ngClass]="{'done':item.status=='Depositado','pen':item.status!='Depositado', 'hoje': isToday(item.date)}" *ngFor="let item of resumeDate" (click)="openCalendar(calendar,item)">
                        <div class="dia">
                            <h4>
                                {{dayMonth(item.date)}}<br>
                                <small>{{dayOfWeek(item.date)}}</small>
                                <span class="text-primary">Hoje</span>
                            </h4>
                        </div>
                        <ul>
                            <li><small> R$ </small> {{item.sales}}</li>
                            <li><small> R$ </small> {{item.anticipation}}</li>
                            <li><small> R$ </small> {{item.chargeback}}</li>
                            <li><small> R$ </small> {{item.void}}</li>
                            <li><small> R$ </small> {{item.other}}</li>
                            <li>
                                <h5><small>SALDO FINAL</small></h5>
                                <small> R$ </small> {{item.balance}}
                            </li>
                            <li>
                                <small> R$ </small> {{item.balance}}
                                <br>
                                <h5><small>{{item.status}}</small></h5>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title ">Contatos</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-vcenter">
                        <thead>
                            <tr>
                                <th>Precisa de Ajuda?</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h2 class="no-margin">
                                        <small class="text-primary">0800-5489-4898</small>
                                    </h2>
                                    <br>Capitais e Regiões Metropolitanas
                                </td>
                                <td class="text-right">

                                    <h2 class="no-margin">
                                        <small class="text-primary">0800-5489-4898</small>
                                    </h2>
                                    <br> Demais Regiões
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #calendar let-c="close" let-d="dismiss" class="modal fade large" id="demo-default-modal" role="dialog" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" (click)="c('Close click')"><i class="pci-cross pci-circle"></i></button>
        <h4 class="modal-title">Seus Pagamentos</h4>
    </div>
    <div class="modal-body">
        <app-payments-calendar [selectedDay]="selectedDay"></app-payments-calendar>

    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-default" type="button" (click)="c('Close click')">Fechar</button>
    </div>
</ng-template>